/* Desktop */

@media (min-width: 1280px) {
  #nav,
  #Header {
    max-width: 1280px;
  }
}

/* Tablet */

@media (max-width: 1000px) {
  /* Nav */
  label {
    font-size: 1.2rem;
  }

  #nav .btn {
    font-size: 0.8rem;
  }

  #nav .btn ,#Header .btn{
    color: var(--prim-c);
    border: 2px solid var(--prim-c);
  }
  /* Header */

  #Header {
    width: 320px;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-around;
    text-align: center;
  }

  #Header h1 {
    font-size: 3.5rem;
  }
  /* Social & Contact */
  #Social,
  #Contact {
    height: 60vh;
    top: 20%;
  }
  /* Footer */
  #Footer {
    opacity: 0.75;
  }
}
/* Tablet Landscape  */

@media (max-width: 1150px) and (orientation: landscape) {
  #nav .btn ,#Header .btn {
    color: var(--prim-c);
    border: 2px solid var(--prim-c);
  }
  #Header {
    width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-around;
    text-align: center;
/*     left: 10%; */
        top: 20%;
  }
  #Header h1 {
    font-size: 3.8rem;
  }
  #Header h4{
    display: none;
  }
  #Social,
  #Contact {
    height: 60vh;
    top: 20%;
    border: 1px solid #333;
  }

  #Footer {
    opacity: 0.75;
  }
}

/* Phone Mobile 400px */

@media (max-width: 500px) {
  /* Nav */

  #nav {
    width: 100%;
    padding: 0.5rem;
  }

  #nav #logo {
    height: 50px;
    width: 45px;
  }

  #Header {
    width: 185px;
    margin: auto;
    display: flex;
    height: 35vh;
    justify-content: center;
    text-align: center;
    /* top: 30%; */
/*     left: 50%; */
  }

  h4 {
    display: none;
  }

  #Header h1 {
    font-size: 2.1rem;
    margin-top: 15vh;
  }

  #Social i,
  #Contact i {
    font-size: 1.4rem;
  }
  #Footer {
    font-size: 0.8rem;
  }
}
/* Mobile Landscape  */

@media (max-width: 900px) and (orientation: landscape) {
  #nav {
    width: 80%;
    padding: 0.5rem;
  }
  #nav #logo {
    height: 50px;
    width: 45px;
  }
  label {
    font-size: 1.2rem;
  }

  #nav .btn,
  #Header .btn {
    font-size: 0.8rem;
  }

  .btn {
    color: var(--prim-c);
    border: 2px solid var(--prim-c);
  }

  /* Header */

  #Header {
    top: 25%;
    left: 30%;
    max-width: 330px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #Header h1 {
    font-size: 2.1rem;
    margin-top: 0vh;
  }

  h4 {
    font-size: 1.3rem;
  }

  #Social i,
  #Contact i {
    font-size: 1.4rem;
  }

  #Footer {
    font-size: 0.8rem;
  }
}
